/* Tạ0 mã giả để gọi function */
:root{
    --main-color:#d3ad7f;
    --black:#1C1C1C;
    --bg:#111111;
    --border:0.1rem solid #333333;
    --p: #fff;
}

/* 
    1rem = 10px
    1em  = 16px 
*/

*{
    font-family: 'Roboto', sans-serif, Arial;
    text-decoration: none;
    margin: 0; border: none;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;  
    /* Căn ngang theo trục x */
}

body{
    background: var(--bg);
}

section{
    padding: 1.5rem 7%;
}

/*---------------------BREAKPOINTS-----------------------*/

/* kích thước màn hình cho mobie, tablet < 740px / 16px= 46.25em */
@media only screen and (max-width: 63.9375em)  {

    .about {
        display: block;
    }
    .about .image {
        width: 100%;
        
    }
    .about .contents {
        flex: 1 1 25rem;
    }
    .about .contents h3 {
        font-size: 1.4em;
    }
    .about .contents p {
        font-size: 1em;
    }
}

/* kích thước màn hình cho lap, desktop >= 64em  */
@media only screen and (min-width: 64em){

}

/*--------------------------------------------------------*/

/*------------------------HEADING--------------------------*/
.heading{
    display: block;
    color: #fff;
    font-size: 4.3rem;
    align-items: center;
    text-align: center;
    height: 6.5rem;
    line-height: 6.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.heading span {
    color: var(--main-color);
}

/*--------------------------------------------------------------*/

/*-----------------------------HEADER---------------------------*/
.header {
    justify-content: space-between;
    padding:1.5rem 7%;
    background: var(--bg);
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
   
}

.header .navbar a {
    margin:0 1rem;
    font-size: 2.2rem;
    color:#fff;
    
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom:1px solid var(--main-color);
    padding-bottom: 0.5rem;
}

.header img{ 
    width: 100%; 
    height: 6.5rem;
}

.header .icons div{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}


/*--------------------------------------------------------------*/

/*---------------------------BUTTON-----------------------------*/
.button{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

/*--------------------------------------------------------------*/

/*----------------------------HOME------------------------------*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .contents {
    max-width: 60rem;
}

.home .contents h3 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color:var(--p);
}

.home .contents p {
    color: var(--p);
    line-height: 1.8;
    padding: 1rem 0;
    font-size: 2rem ;  
}
/*--------------------------------------------------------------*/

/*------------------------------ABOUT---------------------------*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--black);
}

/*  
    flex-grap   : tự động xuống dòng 
    flex-grow   :1  tăng chiều ngang của phần tử con
    flex-shrink :1  theo nội dung giá trị phần tử khác
    flex-basis  :45 rem nó quyết định kích thước lý tưởng của phần tử
                    không thể thay đổi vượt qua lớp cha
*/

/*--------------------images text blocks------------------------*/

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.row .contents {
    flex:1 1 45rem;
    padding:2rem;
    background-color: #333333;
    width: 100%;
}

.row .contents h3 {
    font-size: 4.5rem;
    color:#fff;
}

.about .contents p {
    color:#ccc;
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 1.6;
}

/*--------------------------------------------------------------*/

/*----------------------------MENU------------------------------*/
.menu .box-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));

}

.menu .box {
    text-align: center;
    border:var(--border);
    padding: 5rem;
}

.menu .box span {
    font-size: 3rem;
    color: #fff;

}

/*--------------------------------------------------------------*/

/*  a card layout using CSS Grid Layout
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr)); 
    auto-fit: chiếm hết khoảng trống trong cột
    căn ngang đường viền lấp đầy khoảng trống
    gap: cách viền
*/

/*---------------------------PRODUCTS---------------------------*/
.products .box-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
}

.products .box-container .box {
    text-align: center;
    border:var(--border);
    padding:2rem;
}

.products .contents p {
    margin-top: 2rem;
    font-size: 2rem;
    color: #ccc;
}
/*--------------------------------------------------------------*/

/*---------------------------ALL BOX----------------------------*/
.box img {
    width: 100%;
    height: 26rem;
    
}

.box .contents h3 {
    margin-top: 3rem;
    color: var(--main-color);
    font-size: 3rem;
    text-transform: uppercase;
}

.box .contents p {
    margin-top: 3rem;
    font-size: 2rem;
    color: #ccc;
}

/*------------------------------------------------------------*/


/*----------------------------REVIEW--------------------------*/
.review .box-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2.5rem;
}

.review .box-container .box .user{
    margin-top: 3rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    font-size: 2.5rem;
    color: var(--main-color);
    margin-top: 2rem;
}
.review .box-container .box p {
    font-size: 2rem;
    color: #fff;
}


/*------------------------------------------------------------*/


/*----------------------------CONTACTS-------------------------*/
.contact .row {
    background: var(--black);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container {
    flex:1 1 45rem;
    padding:2rem;
    background-color: #333333;
    width: 100%;
}

.container .item{
    margin-left: 2rem ;
    width: 93%;
    padding: 2rem;
    margin-bottom: 1.5rem;
    height: 5rem;
    border: var(--border);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
}
.container .button{
    font-size: 1.8rem;
    padding: 1rem 3.5rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
    margin-top: 0.3rem;
}
.contact .row .iframe {
   flex: 1 1 45rem;
}
.contact .row .iframe iframe{
    width: 100%;
 }

/*-------------------------------------------------------------*/

/*-----------------------------BLOGS----------------------------*/
.blogs .box-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(35rem,1fr));
}

.blogs .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2.5rem;
}

/*--------------------------------------------------------------*/


.footer {
    display: block;
    align-items: center;
    text-align: center;
    background-color:var(--black) ;
    height: 8rem;
    line-height: 5.5rem;
    font-size: 2.5rem;
    color: #333333;
}
  
/* hover scale zoom out images */
.menu .images {
    overflow: hidden;
    max-width: 100%;
    transition: all 5s;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.menu .images:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}