:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#111111;
    --border:0.1rem solid rgba(255,255,255,.3);
    --p: #fff;
}

/* 1rem =10px */

*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0; border: none;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;  
    /* Căn ngang theo trục x */
}

body{
    width: 100%;
    background: var(--bg);
}

section{
    padding: 1.5rem 7%;
}

/*---------------------BREAKPOINTS-----------------------*/
/* kích thước màn hình cho mobie < 74rem */
@media only screen and (max-width: 73.9rem)  {

    
}

/* kích thước màn hình cho tablet width > 74rem and < 102,4rem */
@media only screen and (min-width: 74rem) and (max-width: 102.3rem) {
    
}

/* kích thước màn hình cho lap, desktop > 102.4rem  */
@media only screen and (min-width: 102.41rem){

}

/*--------------------------------------------------------*/

/*------------------------HEADING--------------------------*/
.heading{
    display: block;
    color: #fff;
    font-size: 4.3rem;
    align-items: center;
    text-align: center;
    height: 6.5rem;
    line-height: 6.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.heading span {
    color: var(--main-color);
}

/*--------------------------------------------------------------*/

/*-----------------------------HEADER---------------------------*/
.header {
    justify-content: space-between;
    padding:1.5rem 7%;
    background: var(--bg);
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
   
}

.header .navbar a {
    margin:0 1rem;
    font-size: 2.2rem;
    color:#fff;
    
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom:1px solid var(--main-color);
    padding-bottom: 0.5rem;
}

.header img{  
    height: 6.5rem;
}

.icons{
    font-size: 2.5rem;
 }

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

.header .search-form{
    display: none;
}
#menu-button{
    display: none;
}
/*--------------------------------------------------------------*/

/*---------------------------BUTTON-----------------------------*/
.button{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}
/*--------------------------------------------------------------*/

/*----------------------------HOME------------------------------*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .contents {
    max-width: 60rem;
}

.home .contents h3 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color:var(--p);
}

.home .contents p {
    color: var(--p);
    line-height: 1.8;
    padding: 1rem 0;
    font-size: 2rem ;  
}
/*--------------------------------------------------------------*/

/*------------------------------ABOUT---------------------------*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--black);
}

/*  flex-grow   :1  tăng chiều ngang của phần tử con
    flex-shrink :1  theo nội dung giá trị phần tử khác
    flex-basis  :45 rem nó quyết định kích thước lý tưởng của phần tử
                    không thể thay đổi vượt qua lớp cha
*/

/*images text blocks*/
.about .row .image {
    flex: 1 1 45rem;
}
.about .row .image img {
    width: 65.5rem;
    height: 54.5rem;
}
.row .contents {
    flex:1 1 45rem;
    padding:2rem;
    background-color: #333333;
   
}

.row .contents h3 {
    font-size: 5rem;
    color:#fff;
}

.about .contents p {
    color:#ccc;
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.8;
}

/*--------------------------------------------------------------*/

/*----------------------------MENU------------------------------*/
.menu .box-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill,minmax(55rem,1fr));

}

.menu .box {
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.menu .box span {
    font-size: 3rem;
    color: #fff;

}

/*--------------------------------------------------------------*/

/* grid-template-columns: repeat(auto-fill,minmax(100px,1fr)); 
    căn ngang đường viền lấp đầy khoảng trống
    gap: cách viền
*/

/*---------------------------PRODUCTS---------------------------*/
.products .box-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(45rem,1fr));
}

.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 1rem;
}

.products .contents p {
    margin-top: 2rem;
    font-size: 2rem;
    color: #ccc;
}
/*--------------------------------------------------------------*/

/*---------------------------ALL BOX----------------------------*/
.box img {
    width: 33.5rem;
    height: 24rem;
    
}

.box .contents h3 {
    margin-top: 3rem;
    color: var(--main-color);
    font-size: 3rem;
    text-transform: uppercase;
}

.box .contents p {
    margin-top: 3rem;
    font-size: 2rem;
    color: #ccc;
}

/*------------------------------------------------------------*/


/*----------------------------REVIEW--------------------------*/

/*------------------------------------------------------------*/


/*----------------------------CONTACTS-------------------------*/

/*-------------------------------------------------------------*/


/*-----------------------------BLOGS----------------------------*/

/*--------------------------------------------------------------*/
